* {
    margin: 0;
    padding: 0;
}
body {
    background: #FFF;
    background: linear-gradient(135deg,rgba(255, 255, 255, 1) 0%, rgba(255, 245, 247, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
}
main {
    text-align: center;
}
header {
    text-align: center;
    margin-top: 40px;
}
header p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #717182;
    margin-top: 10px;

}
h1 {
    font-family: "Cormorant", serif;
    font-size: 48px;
    font-weight: 600;
    word-spacing: 0.5px;
    color: #110E29;
}
h2 {
    font-size: 30px;
    color: #110E29;
    margin-top: 12px;
    font-weight: 400;
}
h2 span {
    color: #E0456A;
    font-weight: 600;
}
.horario-dia-atual {
    text-align: center;
    align-content: center;
    background: #FFF;
    border-radius: 24px;
    box-shadow: #00000013  2px 2px 10px;
    height: 228px;
    margin-top: 46px;
    
}
.horario-dia-atual p {
    color: #717182;
    font-size: 14px;
    word-spacing: 1.4px;
    margin-top: 16px;
}
#alterar-horario-padrao {
    background: #E0456A;
    background: linear-gradient(135deg,rgba(224, 69, 106, 1) 0%, rgba(233, 140, 164, 1) 100%);
    color: white;
    border: none;
    width: 252px;
    height: 56px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
}
#alterar-horario-padrao:hover {
    box-shadow: #e045696d 2px 4px 10px;
}
.dias-semana {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 48px;
}
.card-dia {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 0.3s;
    min-width: 100px;
}
.dia {
    background: #FFF;
    border: #FFF solid 1px;
    border-radius: 20px;
    padding: 15px;
    box-shadow: #00000013  2px 2px 10px;
    height: 136px;
    line-height: 40px;
    
}
.dia:hover {
    box-shadow: #00000024  4px 4px 20px;
    transform: translateY(-20px);
}
.nome-dia {
    font-size: 12px;
    line-height: 16px;
}
.numero-dia {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}
.intervalo {
    line-height: 44px;
    display: block;
    background: #FFF;
    border: #FFF solid 1px;
    border-radius: 20px;
    margin-top: 16px;
    height: 44px;
    box-shadow: #00000013  2px 2px 10px;
}
#horarios-semana {
    background: #ffffff;
    color: #E0456A;
    border: #E0456A solid 2px;
    width: 370px;
    height: 60px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 48px;
}
#horarios-semana:hover {
    box-shadow: #e045696d 2px 4px 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}
.conteudo-modal {
    display: flex;
    flex-direction: column;
    background: #FFF;
    background: linear-gradient(25deg, rgba(255, 255, 255, 1) 0%, rgb(252, 242, 244) 100%);
    border-radius: 24px;
    width: 432px;
    padding: 40px;
    box-shadow: #00000013;
    position: relative;
}
.conteudo-modal > img:first-of-type {
    position: absolute;
    top: 60px;
    right: 50px;
    cursor: pointer;
}
 .conteudo-modal h1 {
    font-size: 30px;
    align-self: flex-start;
}

.conteudo-modal p {
    color: #E0456A;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    word-spacing: 0.7px;
}
.formulario-horario-padrao {
    margin-top: 32px;
    justify-content: center;
}
.input-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;
}
.limpar {
    background: none;
    border: none;
    font-size: 20px;
    color: #E0456A;
    cursor: pointer;
}
.input-intervalo {
    background: #FAFAFA;
    width: 156px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #F3F4F6;
    padding: 0;
}
input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
#add {
    display: flex;
    align-items: center; /* Centraliza o ícone com o texto */
    gap: 10px;
    margin-bottom: 32px;
    align-self: flex-start; /* Joga para a esquerda */
    margin-left: 25px; /* Alinha visualmente com a borda do input de cima */
    cursor: pointer;
}

#confirmar-horario-modal {
    width: 432px;
    height: 64px;
    background: linear-gradient(135deg,rgba(224, 69, 106, 1) 0%, rgba(233, 140, 164, 1) 100%);
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    word-spacing: 0.8px;
}

.container-scroll-horarios {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}